@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("../fonts/stretch-pro.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p, h1, h2, h3 {
    margin: 0;
}

/* Cores:
    - #000    (Preto)
    - #fff    (Branco)
    - #292929 (Cinza Escuro)
    - #ddd    (Cinza Claro)

    - #ef4848 (Vermelho)
    - #4170ff (Azul Claro)
    - #5698b9 (Ciano)
    - #0447ff (Azul Royal)
*/

* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI';
    font-weight: 600;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    justify-items: center;
    align-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    background-color: #fff;
    gap: 150px;
}

.logo img{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 70px;
    width: auto;
}

.items {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: fit-content;
}

.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #292929;
    padding: 8px 0px;
    filter: drop-shadow(0px 0px 0px #00000000);
    cursor: pointer;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 0%;
    height: 3px;
    right: 0;
    bottom: 0;
    background-color: var(--cor-hover);
    border-radius: 100px;
}

.item i {
    position: absolute;
    font-size: 17px;
    translate: -40px 0px;
    opacity: 0;
    color: var(--cor-hover);
}

.item:hover > i {
    opacity: 1;
    translate: -30px 0px;
}

.item:hover::before {
    width: 100%;
    transition: 0.5s ease;
}

.menu-icon {
    display: none;
}