@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vcr Osd Mono';
    src: url("../fonts/vcr-osd-mono.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("../fonts/stretch-pro.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box !important;
    font-family: 'Lexend';
    scroll-behavior: smooth;
}

h1,
h2,
p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    justify-items: center;
    align-content: center;
}

.window {
    display: flex;
    position: fixed;
    width: 99vw;
    height: 99vh;
    border-radius: 2px;
    justify-self: center;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 5;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 4.5px;
}

.window::-webkit-scrollbar {
    width: 20px;
}

.window::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #858585;
    border-bottom: 3px solid #858585;
}

.window-bar {
    height: 40px;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #0150e4, #001C9F);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: clamp(8px, 2vw, 15px);
    z-index: 3;
}

.window-bar p {
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    font-style: normal;
    text-wrap: nowrap;
}

.marks {
    display: flex;
    gap: 10px;
}

.fa-minus,
.fa-window-restore,
.fa-xmark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ddd;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #858585;
    border-bottom: 3px solid #858585;
    width: 25px !important;
    height: 25px !important;
    font-size: 13px !important;
    cursor: pointer;
}

.fa-window-restore.first {
    opacity: 0;
}

.tip {
    opacity: 0;
    justify-self: center;
    align-self: center;
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
}

header {
    display: flex;
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    justify-self: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 2px;
    box-shadow: 0px 3px 0px #858585;
    z-index: 1;
}

header.open {
    translate: 0px 0px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    z-index: 2;
    gap: 30px;
}

.item {
    display: flex;
    width: 170px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: #000;
    padding: 20px;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #858585;
    border-bottom: 3px solid #858585;
}

.item:hover,
.fa-minus:hover,
.fa-window-restore:hover,
.fa-xmark:hover:hover {
    background-color: #cfcfcf;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #858585;
    border-top: 3px solid #858585;
    translate: 1px 1px;
}

@media (max-width: 1220px) {
    header {
        translate: 0px -510px;
    }

    .items {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .item {
        width: 100%;
        font-size: 16px;
    }

    .fa-window-restore.first {
        opacity: 1;
    }

    .tip {
        opacity: 1;
    }

    .hero-section {
        padding: 50px;
        margin-top: 0px !important;
    }
}

.container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    filter: drop-shadow(-3px -3px 0px #fff);
    box-shadow: 3px 3px 0px #858585;
    border-radius: 2px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    margin-top: 98px;
    padding: 150px clamp(17px, 6vw, 150px);
    background: url('../imgs/windows97bg.jpeg') no-repeat center/cover;
    background-color: #f3f3f3;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    gap: 60px;
}

.hero-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #000000;
    gap: clamp(20px, 6vw, 40px);
}

.hero-text h1 {
    font-size: clamp(28px, 5vw, 45px);
    font-weight: bold;
}

.hero-text h2 {
    font-size: clamp(18px, 3vw, 30px);
    font-weight: normal;
}

.price-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: clamp(80px, 12vw, 120px);
    padding: clamp(15px, 5vw, 30px);
    margin: 10px;
    background-color: #0150e4;
    border-left: 3px solid #256ff7;
    border-top: 3px solid #256ff7;
    border-right: 3px solid #001C9F;
    border-bottom: 3px solid #001C9F;
    border-radius: 2px;
    cursor: pointer;
}

.price-button h2 {
    font-size: clamp(13px, 2vw, 25px);
    color: #ffffff;
    text-align: center;
    font-family: 'Vcr Osd Mono';
    font-size: clamp(20px, 6vw, 30px);
    font-weight: bold;
    text-wrap: nowrap;
}

.price-button:hover {
    background-color: #003cff;
    border-right: 3px solid #256ff7;
    border-bottom: 3px solid #256ff7;
    border-left: 3px solid #001C9F;
    border-top: 3px solid #001C9F;
    translate: 1px 1px;
}

.servicos {
    background-color: #0a0a0a;
    padding: 100px clamp(30px, 13vw, 200px);
}

.servicos h1 {
    display: flex;
    justify-self: flex-start;
    text-align: center;
    color: #ffffff;
    font-size: clamp(30px, 8vw, 60px);
    font-weight: bold;
    font-family: 'Stretch Pro';
    font-style: italic;
    margin-bottom: 50px;
    letter-spacing: 4px;
}

@media (max-width: 1080px) {
    .servicos h1 {
        justify-self: center;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-width: 270px;
    height: 300px;
    min-height: 300px;
    background-color: #ddd;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #858585;
    border-bottom: 3px solid #858585;
}

.inside-card {
    border: 3px solid #ddd;
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 40px);
    width: 100%;
    gap: 20px;
    padding: 30px;
}