@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vcr Osd Mono';
    src: url("../fonts/vcr-osd-mono.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Centie';
    src: url("../fonts/centie.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box !important;
    font-family: 'Lexend';
    scroll-behavior: smooth;
}

h1,
h2 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    justify-items: center;
    align-content: center;
}

.window {
    display: flex;
    position: fixed;
    width: 99.5vw;
    height: 99vh;
    border-radius: 2px;
    justify-self: center;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 5;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 4.5px;
}

.window-bar {
    height: 40px;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #0150e4, #001C9F);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    z-index: 3;
    border-radius: 2px;
}

.window-bar p {
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
}

.fa-minus,
.fa-window-restore,
.fa-xmark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ddd;
    filter: drop-shadow(-2px -2px 0px #fff);
    box-shadow: 2px 2px 0px #858585;
    width: 15px;
    height: 15px;
    font-size: 11px;
    cursor: pointer;
}

.marks {
    display: flex;
    gap: 10px;
}

.tip {
    display: none;
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
}

header {
    display: flex;
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    justify-self: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 2px;
    box-shadow: 0px 3px 0px #858585;
    z-index: 1;
}

header.open {
    translate: 0px 0px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    z-index: 2;
    gap: 30px;
}

.item {
    display: flex;
    width: 170px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: #000;
    padding: 20px;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
    background-color: #ddd;
    filter: drop-shadow(-2px -2px 0px #fff);
    box-shadow: 2px 2px 0px #858585;
    border-radius: 2px;
}

.item:hover,
.fa-minus:hover,
.fa-window-restore:hover,
.fa-xmark:hover:hover {
    background-color: #cfcfcf;
    filter: drop-shadow(-3px -3px 0px #646464);
    box-shadow: 2px 2px 0px #ffffff;
    translate: 1px 1px;
}

@media (max-width: 1220px) {
    header {
        translate: 0px -470px;
    }

    .items {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .item {
        width: 100%;
        font-size: 16px;
    }

    .tip {
        display: block;
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    padding: 220px 150px;
    background: url('../imgs/whitebg2.png') repeat top;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    filter: drop-shadow(-3px -3px 0px #fff);
    box-shadow: 3px 3px 0px #858585;
    border-radius: 2px;
}

.container.hero {
    padding: 150px;
    gap: 100px;
    translate: 100px 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: left;
    text-align: left;
}

.hero-text h1 {
    font-size: clamp(18px, 5vw, 45px);
    font-weight: bold;
}

.hero-text h2 {
    font-size: clamp(13px, 3vw, 30px);
    font-weight: normal;
}

.price-button {
    display: flex;
    width: fit-content;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    background-color: #0150e4;
    filter: drop-shadow(-3px -3px 0px #256ff7);
    box-shadow: 3px 3px 0px #001C9F;
    border-radius: 2px;
    text-decoration: none;
    translate: -200px 320px;
}

.price-button:hover {
    background-color: #003cff;
    filter: drop-shadow(-3px -3px 0px #00146d);
    box-shadow: 3px 3px 0px #256ff7;
}

.price-button h2 {
    font-size: clamp(13px, 5vw, 25px);
    color: #ffffff;
    text-align: center;
    font-family: 'Vcr Osd Mono';
    font-size: 40px;
    font-weight: bold;
    text-wrap: nowrap;
}

.servicos {
    background-color: #0a0a0a;
    padding: 100px clamp(30px, 13vw, 200px);
}

.servicos h1 {
    display: flex;
    justify-self: flex-start;
    text-align: center;
    color: #ffffff;
    font-size: clamp(70px, 12vw, 110px);
    font-weight: bold;
    font-family: 'Anton';
    font-style: italic;
    margin-bottom: 70px;
    letter-spacing: 4px;
}

@media (max-width: 1080px) {
    .servicos h1 {
        justify-self: center;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border: 3px solid #ddd;
    filter: drop-shadow(-3px -3px 0px #fff);
    box-shadow: 3px 3px 0px #858585;
    border-radius: 2px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.card-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}