@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("../fonts/stretch-pro.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

/* Cores:
    - #000    (Preto)
    - #fff    (Branco)
    - #292929 (Cinza Escuro)
    - #ddd    (Cinza Claro)

    - #7bd474 (Verde)
    - #4170ff (Azul)
    - #52bbde (Ciano)
    - #0447ff (Azul Royal)
*/

* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI';
    font-weight: 600;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    justify-items: center;
    align-content: center;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    background-color: #fff;
    gap: 150px;
    box-shadow: 0px 10px 10px #0000001a;
    z-index: 2;
}

.logo img {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 70px;
    width: auto;
}

.items {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: fit-content;
}

.items.active {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #292929;
    padding: 8px 0px;
    cursor: pointer;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 0%;
    height: 3px;
    right: 0;
    bottom: 0;
    background-color: var(--cor-hover);
    border-radius: 100px;
}

.item i {
    position: absolute;
    font-size: 17px;
    translate: -40px 0px;
    opacity: 0;
    color: var(--cor-hover);
}

.item:hover > i {
    opacity: 1;
    translate: -30px 0px;
}

.item:hover::before {
    width: 100%;
    transition: 0.5s ease;
}

.menu-icon {
    display: none;
}

@media (max-width: 1250px) {
    header {
        justify-content: space-between;
    }

    .items {
        display: none;
        position: absolute;
        top: 90px;
        right: 0;
        flex-direction: column;
        background-color: #fff;
        width: 200px;
        box-shadow: 0px 10px 10px #0000001a;
        padding: 30px;
        padding-left: 55px;
        gap: 50px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
        font-size: 30px;
        color: #000;
    }
    
    .hero-content {
        align-items: flex-start;
    }
}

.hero-container {
    display: flex;
    margin-top: 90px;
    width: 100%;
    height: 700px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(342deg, #012ca0, #2766c5, #52bbde, #bbeeff);
    background-size: 600% 600%;
    animation: bg-gradient-animation 5s ease infinite;
}

@keyframes bg-gradient-animation {
    0% {
        background-position: 69% 0%
    }
    
    50% {
        background-position: 32% 100%
    }
    
    100% {
        background-position: 69% 0%
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .hero-content {
        align-items: flex-start;
    }
}

.hero-content h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero-content p {
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 50px;
}

.saibamais-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #7bd474;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    --btn-w: 200px; /* fallback; will be synced by JS */
}

@media (max-width: 768px) {
    .saibamais-btn{
        width: 100%;
    }
}

.saibamais-btn:hover {
    background-color: #000;
    color: #ffffff;
    transition: all 0.3s ease-out;
    translate: 0px 0px;
}

.saibamais-btn::before {
    content: '';
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    top: 0;
    left: 0;
    transform: translate(-20px, -20px);
    z-index: 2;
}

.saibamais-btn:hover::before {
    opacity: 1;
    animation: btn-circle-animation 10s ease-out infinite;
}

@keyframes btn-circle-animation {
    0% {
        transform: translate(calc(var(--btn-w)), -20px);
        width: 50px;
        height: 15px;
    }

    12% {
        transform: translate(calc(var(--btn-w)), -20px);
        width: 15px;
        height: 15px;
    }

    25% {
        transform: translate(calc(var(--btn-w)), 55px);
        width: 15px;
        height: 50px;
    }

    37% {
        transform: translate(calc(var(--btn-w)), 55px);
        width: 15px;
        height: 15px;
    }

    50% {
        transform: translate(-20px, 55px);
        width: 50px;
        height: 15px;
    }

    62% {
        transform: translate(-20px, 55px);
        width: 15px;
        height: 15px;
    }

    75% {
        transform: translate(-20px, -20px);
        width: 15px;
        height: 50px;
    }

    82% {
        transform: translate(-20px, -20px);
        width: 15px;
        height: 15px;
    }

    100% {
        transform: translate(calc(var(--btn-w)), -20px);
        width: 50px;
        height: 15px;
    }
}